<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CsvPath" value="C:\Users\malachi.jones\Documents\Temp\SkuList\Skus.csv" />
    <add key="CopyFrom" value="C:\ScansCopy\" />
    <add key="CopyTo" value="C:\tempimages\CopyToDestination\" />
    <add key="LogPath" value="C:\Users\malachi.jones\Documents\Temp\SkuList\SkusLog_1.txt" />
  </appSettings>
</configuration>